h1 {
  text-align: center;
  margin-top: 0px
}

.buttons {
  text-align: center;
  margin: 5px;
}

.cards {
  height: inherit;
}


#desk {
  background-image: url("./img/table.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-size et height gérés par le JS */
}

#playerCards {
  display: flex;
  justify-content: center;
}

#dealerCards {
  display: flex;
  justify-content: center;
}
