h1 {
  text-align: center;
  margin-top: 0px
}

.buttons {
  text-align: center;
  margin: 5px;
}

#desk {
  background-image: url("./img/table.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  /* background-size et height gérés par le JS */
}

/* Il faudra gérer la position en fonction des autres cartes donc de façon relative et non fixe */
#firstImage {
  padding-top: 200px;
}

/* .superpose {
  position: absolute;
  top: 25%;
  left:45%;
}

.superpose2 {
  position: absolute;
  left: 45%;
  top: 65%;
} */
